<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <style type="text/css">
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="center">
    <form action = "/add_blog" method = "POST">
        <h1>Enter Title</h1>
        <input type="title" name="title">
        <br><br><br><br>
        <h1>Enter Text</h1>
        <input type="textbox" name="text" maxlength="280">
        <input type="submit" name="submit">
    </form>
</div>
</body>
</html>