<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
    html {
height: 100%;
background:
  linear-gradient(
    greenyellow,
    transparent
  ),
  linear-gradient(
    90deg,
    skyblue,
    transparent
  ),
  linear-gradient(
    -90deg,
    lawngreen,
    transparent
  );
  
background-blend-mode: screen;
}
</style>
</head>
<body>

<div class="navbar">
  <a href="/home">Home</a>
  <a href="/programming">Programming</a>
  <a href="/tutoring">Tutoring</a>
  <a href="/signout" id = "signout">Sign Out</a>
  <div class="dropdown">
    <button class="dropbtn">Other
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/general">General Forum</a>
      <a href="#">About Us</a>
      <a href="#">Help</a>
      <a href="#">Contact Us</a>
    </div>
  </div> 
</div>
<div class= "center">
    <h1>Welcome to Connections</h1>
</div>




</body>
</html>