
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <style type="text/css">
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class = "center">
        <form action="/" method ='POST'>
            <h1>Enter Email</h1>
            <br><br>
            <input type="Email" name="email">
            <br><br>
            <h1>Enter Password</h1>
            <br><br>
            <input type="Password" name="password">
            <input type="submit" name="submit">

</div>
</body>
</html>